.grid-container {
  border: 10px solid lightgray;
  padding: 20px;
  width: 700px;
  height: 700px;
  display: grid;
  box-sizing: border-box;
  grid-gap: 0px;
}

.reset-btn {
  width: 100px;
  height: 30px;
  margin: 0 0 10px 0;
  background-color: white;
}

.blink-black {
  border: 10px solid black;
}
